.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: 100%; */
  grid-template-rows: min-content min-content auto;
  grid-template-areas:'header' 'navbar' 'main';
}

@media screen and (min-width: 600px) {
  .articles {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-area: main;
  }
}

.header {
  border: solid orangered 1px;
  grid-area: header;
}

.navbar {
  border: solid blue 1px;
  grid-area: navbar;
}

.articles {
  border: solid darkmagenta 1px;
  grid-area: main;
}


.singlearticle {
  border:rgb(255, 0, 0) solid 1px;
}

.articleByID {
  border:goldenrod solid 1px;
}

.singlecomment {
  border:darkgreen solid 1px;
}

.comments {
  border:lime solid 1px;
  grid-area: main;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}



