.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:'header' 'navbar' 'main';
  background-color: rgb(212, 228, 222);
}

@media screen and (min-width: 600px) {
  .articles ul {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-area: main;
  }
  .comments ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-area: main;
  } 

  .navbar ul li {
    display: inline;
    padding: 5px;
  }
}

body {
  font-family: 'Playfair Display', serif;
}

.header {
  /* border: solid orangered 1px; */
  grid-area: header;
  font-family: 'News Cycle', sans-serif;
}

.header p {
  text-align: right;
}

.navbar {
  /* border: solid blue 1px; */
  grid-area: navbar;
}

.articles {
  /* border: solid darkmagenta 1px; */
  grid-area: main;
}


.singlearticle {
  /* border:rgb(255, 0, 0) solid 1px; */
  margin: 20px;
  background-color: white;
  /* border: 1px solid whitesmoke; */
  padding: 10px;
  box-shadow: 3px 7px 15px #888888;
}

.articleByID {
  /* border:goldenrod solid 1px; */
  margin: 20px;
  background-color: white;
  border: 1px solid whitesmoke;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.singlecomment {
  /* border:darkgreen solid 1px; */
  margin: 20px;
  background-color: white;
  border: 1px solid whitesmoke;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.comments {
  /* border:lime solid 1px; */
  grid-area: main;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.navbar ul li {
  display: inline;
  padding: 10px;
}

nav a:link, a:visited {
  background-color: rgb(212, 228, 222);;
  color: black;
  border: 1px solid rgb(212, 228, 222);;
  padding: 10px 10px;
  text-align: center;
  text-transform: capitalize;
  /* text-decoration: none; */
  display: inline-block;
}

nav a:hover, a:active {
  background-color: rgb(148, 209, 186);
  color: white;
}

.singlearticle a:hover, .a:active {
  background-color: rgb(148, 209, 186);
  color: white;
}

.singlearticle:hover {
  background-color: rgb(148, 209, 186);
  /* color: white; */
  text-decoration: none;
}

a {
  text-decoration: none;
  color:black;
}

